doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/style.css')
  body
    nav
      a(href="/hobbies") All hobbies
      a(href="/hobbies/new") Add new hobby
    block content
    footer
      p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service