doctype html
html
  head
    title= title
    script(src="/javascripts/validation.js" defer)
    link(rel='stylesheet' href='/styles/style.css')
  body
    nav
      a(href="/hobbies") All hobbies
      a(href="/hobbies/new") Add new hobby
    p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
    block content
    